@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding-top: 50px; 
}
.create_new_debtor {
  display: flex;
  justify-content: space-between;
}
.debtor_list {
  max-width: 700px;
  display: block;
  margin: 0 auto 40px;
  background-color: #5cd3cd;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 0 #074b83;
  box-shadow: 0 2px 10px 0 #074b83; }


h2 {
  text-align: center;
  margin-top: 40px;
}
p {
  font-weight: bold;
}
.list {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.row {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 10px;
 
}
.row_header {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

